@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300;400;500&family=Inter:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

*{
  padding:0px;
  margin: 0px;
  box-sizing: border-box;
}
:root{
  
}
body {
    margin: 0;
    background-color: #f8f8f8;
    margin: 0px;
    font-family: 'Fira Sans', sans-serif;
    font-size:14px;;
    font-weight: normal;
    line-height: 1.8;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}
.app{
  width:100%;
  height:100%;
}
.vh-100{
  min-height:100vh;
}